.about-inner{
    margin: 150px 0px 200px 0px;
    color: white;
}
.about-inner-card{
    box-shadow: 1px 1px 20px 0 rgb(0, 242, 255);
    margin: 0 65px 0 65px;
}
.about-inner-card-left{
    box-sizing: border-box;
    padding: 70px;
}
.about-inner-card-right img{
    height: auto;
    width: auto;
    object-fit: cover;
}
.about-inner-card-title{
    color: #ff0513;
    margin: 0 0 50px 0;
}

.about-inner-banner{
    position: relative;
    
    margin: 270px 0 150px 0;
    height: 440px;
}
.about-inner-banner-container{
    height: 100%;
    box-sizing: border-box;
    padding: 50px 50px;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 2px 1px 30px 20px #ff0513; */
    background-color: rgb(1, 9, 28);
}
.about-inner-banner-container div{
    display: flex;
    gap: 300px;
}
.about-inner-banner-container span{
    margin: 40px 150px;
}