{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'App/css/login.css' %}"/>
    <script src="{% static 'App/js/login.js' %}"></script>
</head>
<body>
    <div class="login-box">
        <h2>Login</h2>
        <form action="/register" method="post" id="register-form" style="display: none;">
            {% csrf_token %}
          <div class="user-box">
            <input type="text" name="email" required="">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
          </div>
          <div class="user-box" id="confirm-password">
            <input type="password" name="confirmation" required="">
            <label>Confirm password</label>
          </div>
          <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Register
          </button>
        </form>
        <form action="/login" method="post" id="login-form">
            {% csrf_token %}
          <div class="user-box">
            <input type="text" name="email" required="">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
          </div>

          <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login
          </button>
        </form>

        <div style="display: flex; justify-content: space-between;">
            <div></div>
            <div style="width: fit-content;">            
                <span class="underline-expand" id="switch-login">Click to register</span>
            </div>
        </div>
      </div>

     
</body>
</html>